

html {
    box-sizing: border-box;
}
*,*::after,*::before {
    box-sizing: inherit;
}

body {
    position: relative;
    min-width: 320px;
    font-family: TT Lakes, serif;
    background: #F8F8F8;
    padding: 0;
    margin: 0;
}

@media (min-width: 1440px) {
  body {
    display: flex;
  }
  .aside {
    display: flex;
    flex: 0 0 20%;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
  }
  .main {
    display: flex;
    flex-direction: column;
    flex: 0 0 80%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
 
}

@import '../scss/header-container.scss';
@import '../scss/main-container.scss';
@import '../scss/slide-menu.scss';
@import '../scss/container-block1.scss';
@import '../scss/container.scss';
@import '../scss/header.scss';
@import '../scss/swiper.scss';
@import '../scss/slide__block.scss';
@import '../scss/tech-block.scss';
@import '../scss/tech-block\ title.scss';
@import '../scss/tech-block2.scss';
@import '../scss/service-block.scss';
@import '../scss/footer.scss';
@import '../scss/menu-burger.scss';
@import '../scss/feedback.scss';
@import '../scss/call.scss';







  


